/*** Header ***/
div.header {
    padding-top:7px;
    width:100%;
    text-align:right;
    position:relative;
    overflow:hidden;
    height:170px;    
}
div.super {
    height:190px;
    padding-bottom:5em;
}

/** New homepage **/
div.supernew {
    height:140px;
    padding-bottom:5em;
}


div.homepage {
    height:200px;
}
div.header a:hover,
div.header a:focus,
div.header a:active {
    text-decoration:underline;
}
div.header form,
div.header ul {
    float:right;
} 
div.header p#logo,
div.header p#logoContent {
    position:relative;
    line-height:1px;
    margin-left:10px;
    display:inline;
    z-index:2;
    float:left;
}
div.header p#logoContent {
    margin-top:16px;
    height:100px;
    width:60% !important;
    position:absolute;
    top:32px;  
    left:0; 
    z-index:1000;    
}
div.super p#logoContent {
    height:180px;
}
div.homepage p#logoContent {
    height:130px;
}
div.header p#logoContent a {
    float:left;
}
div.header p#logoContent em {
    clear:left;
    bottom:-2px;
    font-style:normal;
    display:block;
    color:#fff;
    z-index:9999;
    font-size:1.5em;
    line-height:1.5em;
    width:100%;
    text-align:left;
    overflow:visible;
    padding-left:7px; 
    position:absolute;
    left:0;
}
div.super p#logoContent em {
    padding-top:114px;
}
div.header p#logoContent em.default {
    color:#002A54; 
}
div.header div#global_utilities {
    z-index:9999;
    position:relative;
}
div.header ul#textSize,
div.header ul#utilities {
    display:inline;
    position:relative;
}
div.header li {
    display:inline;    
    float:left;
    height:1.6em;
}
div.header ul#textSize {
    z-index:4;
}
div.header ul#utilities {
    margin-left:20px;  
    padding-right:6px; 
    z-index:3;    
}
div.header li a {
    font-weight:bold;
    display:inline-block;
    float:left;
    margin-top:0.6em;
}
div.header ul#utilities li a {
    padding-right:10px;    
}
div.header ul#textSize a {
    font-size:1.1em;
    margin-left:4px;
    margin-top:0.5em;
}
div.header ul#textSize a#medium {
    font-size:1.4em;
    padding:0px 1px;
    margin-top:0.2em;
}
div.header ul#textSize a#large {
    font-size:1.6em;
    margin-top:0;
}
div.header li a:hover,
div.header li a:active,
div.header li a:focus {
    color:#0177BA;
}
/*** Search Form ***/
div.header form {
    margin-top:0.7em;
}
div.header form,
div.header fieldset {
    font-weight:bold;
    display:inline;
    position:relative;
    z-index:5;
}
div.header form label {
    padding-left:16px;
    padding-right:10px;
    color: #002a54;
    border-left:1px solid #002a54;
}
div.header form input {
    font-size:0.9em;
}
div.header form input#q {
    width:145px;
    padding-left:2px;     
    margin:0 55px 0 0;
}
div.header form input#w {
    width:145px;
    padding-left:2px;     
    margin:0 55px 0 0;
}
div.header form input.go {
    margin-right:0px;
    position:absolute;
    right:10px;
    top:-2px;
}
/*** Banner image ***/
div.header p#banner {
    position: absolute;
    z-index:1;
    padding:0;    
    width:1377px;
    top:38px;
    left:0px;
    line-height:1px;
    float:left;    
    height:120px;
    clear:left;
    background:#ccc;
}
div.super p#banner {
    height:200px;
}
/** New home page banner 150px  **/
div.supernew p#banner {
    height:150px;
}
div.homepage p#banner {
    height:150px;
}
div.header p#banner img {
    float:left;
    position:relative;
}
div.header p#date {
    position:absolute;
    right:0;
    top:1.5em;
    padding-top:33px;
    z-index:2;
}
div.header p#date em {
    margin:30px 45px 0 0;
    font-style:normal;
    font-weight:bold;
    color:#fff;
    line-height:1.0em;
}
div.header p#date em.default {
    color:#002A54;    
}
div.header p#language {
    font-weight:bold; 
    padding-top:0.59em;
}
div.header p#language a {
    position: absolute; 
    z-index: 450; 
    margin-left: -5.7em;
}
div.header a.bannerCaption {
    width:100%;
}

/*** Tabs ***/
div.header ul.tabs {
left:100px;
position:absolute;
z-index:9999;
margin-top:161px;
font-weight:bold;
}
div.header ul.tabs li{
display: inline;
margin-right:.1em;
background: #DAE5C6;
}
div.header ul.tabs li a {
background: #DAE5C6;
background-image:url();
background-repeat:no-repeat;
background-position:top left;
margin:0;
padding:0;
padding-left:20px;
text-decoration:none;
}
div.header ul.tabs li span {
background-image:url();
 background-repeat:no-repeat;
    background-position:top right;
padding-right:20px;
}
div.header ul.tabs li.selected {
background: #E4EDB2;
}
div.header ul.tabs li.selected a {
background: #E4EDB2;
background-image:url();
 background-repeat:no-repeat;
background-position:top left;
margin:0;
padding-left:20px;
}
div.header ul.tabs li.selected span {
background-image:url();
 background-repeat:no-repeat;
    background-position:top right;
padding-right:20px;
}



/*** Flood warning ***/
div.header div.warning {
    border-bottom:1px solid #EE3B33;
    font-size:1em;
    position:absolute;
    bottom:20px;
    right:44px;
    width:12.6em;
    min-width:12.6em;
    z-index:9999;
    text-align:left;
    color:#2E3C16;
}

div#global_utilities ul#utilities li a#small {
font-size:1em;
padding:0px 2px;
margin-top:0.65em;
}
div#global_utilities ul#utilities li a#medium {
font-size:1.3em;
padding:0px 2px;
margin-top:0.3em;
}
div#global_utilities ul#utilities li a#large {
font-size:1.6em;
margin-top:0;
}