div#footer {
  clear: both;
  padding-top: 5.0em;
}
div#footer p.slogan {
  text-align: right;
  padding: 0 10px 4px 0;
  margin: 0 0 10px 0;
  background-position: bottom left;
  background-repeat: no-repeat;
}
.default div#footer p.slogan {
  background-image: url(../images/default/bg_divider.png);
}
div#footer p.logo {
  float: left;
  margin-left: 10px;
  font-size: 0.9em;
  display: inline;
}
div#footer p.text {
  float: right;
  text-align: right;
  line-height: 1.4em;
  font-size: 0.9em;
  display: inline;
  margin-bottom: 1.0em;
  padding-right: 10px;
}
div#footer p a {
  text-decoration: underline;
}
div#footer p a:hover,
div#footer p a:active,
div#footer p a:focus {
  text-decoration: none;
}
p.hidden {
  position: absolute;
  left: -1000px;
}
ul.footer_copyright li {
  display: inline;
  margin-right: .2em;
  font-size: 0.9em;
}
ul.footer_copyright li a {
  text-decoration: underline;
  padding-left: 1px;
}
ul.footer_tools li {
  display: inline;
  margin-right: .2em;
  font-size: 0.9em;
}
ul.footer_tools li a {
  text-decoration: none;
  padding-left: 5px;
}
ul.footer_tools li a.twitter {
  background: url(../../twitter.jpg) no-repeat !important;
  padding-left: 25px;
  padding-bottom: 20px;
}
ul.footer_tools li a.facebook {
  background: url(../../bookmark_facebook.jpg) no-repeat !important;
  padding-left: 25px;
  padding-bottom: 20px;
}
ul.footer_tools li a.flickr {
  background: url(../../flikr-footer.jpg) no-repeat !important;
  padding-left: 25px;
  padding-bottom: 20px;
}
ul.footer_tools li a.youtube {
  background: url() no-repeat !important;
  padding-left: 25px;
  padding-bottom: 20px;
}
ul.footer_tools li a.RSS {
  background: url(../../rss.jpg) no-repeat !important;
  padding-left: 25px;
  padding-bottom: 20px;
}
ul.footer_tools li a.linkedin {
  background: url(../../LinkedIn-Logo-footer.jpg) no-repeat !important;
  padding-left: 25px;
  padding-bottom: 20px;
}
ul.footer_tools li a.alerts {
  background: url() no-repeat !important;
  padding-left: 25px;
  padding-bottom: 20px;
}
