div#leftcol {
  width: 150px;
  margin: 4px 0 0 0;
  float: left;
  padding-left: 10px;
  display: inline;
}
div#leftcol ul {
  width: 150px;
  background: #B5DFF7;
  border-bottom: 5px solid #034B89;
}
div#leftcol ul li {
  display: inline;
}
div#leftcol ul li a {
  background: url(../images/default/bg_home.png) no-repeat top left;
}
div#leftcol ul li a:hover {
  text-decoration: none !important;
}
div#leftcol ul ul {
  border-right: 1px solid #0E538E;
  border-left: 1px solid #0E538E;
  border-bottom: none;
  width: auto;
  background: none;
}
div#leftcol ul ul ul {
  border-left: none;
  border-right: none;
  padding: 0;
}
div#leftcol ul li a,
div#leftcol ul li p {
  display: block;
  padding: 8px 22px 8px 10px;
  font-weight: bold;
}
div#leftcol ul li p {
  background-image: url(../images/default/bg_home_selected.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #fff;
}
div#leftcol ul li ul li.section a,
div#leftcol ul li ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section a {
  background-image: url(../images/default/bg_down_arrow.gif);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 93% 0.8em;
}
div#leftcol ul li ul li.section p,
div#leftcol ul li ul li.section ul li.section p,
div#leftcol ul li ul li.section ul li.section ul li.section p,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section p,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section p,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section p,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section p,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section p {
  background: url(../images/default/bg_list_arrow.gif) no-repeat;
  background-position: 92% 0.7em;
  background-color: #fff;
}
div#leftcol ul li ul li.section a,
div#leftcol ul li ul li.section p {
  background-color: #fff;
  display: block;
  font-weight: bold;
  border-bottom: 5px solid #b2dff4;
  padding: 5px 22px 5px 9px;
}
div#leftcol ul li ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section p {
  padding: 5px 22px 5px 16px;
  font-weight: bold;
}
div#leftcol ul li ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section p {
  padding: 5px 22px 5px 23px;
  font-weight: bold;
}
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section p {
  padding: 5px 22px 5px 30px;
  font-weight: bold;
}
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section p {
  padding: 5px 22px 5px 37px;
  font-weight: bold;
}
/*** Children ***/
div#leftcol ul#children,
div#leftcol ul li ul#home ul#children {
  border-top: 1px solid #B2DFF4;
  padding-bottom: 5px;
}
div#leftcol ul#home ul#children {
  border-top: none;
  padding-bottom: 0;
}
div#leftcol ul ul ul#children {
  margin-top: -5px;
}
div#leftcol ul#children li a,
div#leftcol ul#home ul#children li a,
div#leftcol ul li ul#home ul#children li a,
div#leftcol ul li ul li ul#home ul#children li a,
div#leftcol ul li ul li.section ul#children li a,
div#leftcol ul li ul li.section ul li.section ul#children li a,
div#leftcol ul li ul li.section ul li.section ul li.section ul#children li a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul#children li a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul#children li a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul#children li a,
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul li.section ul#children li a {
  background-color: #D9EFFA;
  background-image: url(../images/default/bg_list_arrow.gif);
  background-repeat: no-repeat;
  font-weight: normal;
  border-bottom: none;
  padding-top: 0.2em;
  padding-right: 9px;
  padding-bottom: 0.2em;
}
div#leftcol ul#home ul#children li a,
div#leftcol ul li ul#home ul#children li a {
  background-color: #B5DFF7;
}
div#leftcol ul#home ul#children li a,
div#leftcol ul li ul li.section ul#children li a {
  padding-left: 22px;
  background-position: 11px 0.4em;
}
div#leftcol ul li ul li ul#home ul#children li a,
div#leftcol ul li ul li.section ul li.section ul#children li a {
  padding-left: 29px;
  background-position: 18px 0.4em;
}
div#leftcol ul li ul li.section ul li.section ul li.section ul#children li a {
  padding-left: 36px;
  background-position: 25px 0.4em;
}
div#leftcol ul li ul li.section ul li.section ul li.section ul li.section ul#children li a {
  padding-left: 43px;
  background-position: 32px 0.4em;
}
