/* Flood warning alert panel right pane only */
/*** Right column ***/
div#rightcol {
  float: right;
  width: 151px;
  margin: 0 45px 10px 0px;
  padding-top: 2em;
  display: inline;
}
div.section {
  padding-top: 3px !important;
}
div#rightcol a:hover,
div#rightcol a:focus,
div#rightcol a:active {
  text-decoration: underline;
}
div#rightcol div.box {
  margin-bottom: 1.0em;
  width: 151px;
  float: left;
  background-color: #fff;
}
div#rightcol div.box div {
  background: url(../images/default/bg_box_bottom.png) no-repeat bottom left;
  padding-bottom: 10px;
}
div#rightcol h2 {
  background: url(../images/default/bg_rightnav_h2.png) no-repeat top left;
  padding: 0.7em 10px 0.7em 10px;
}
div#rightcol h2#staff {
  background-image: url(../images/default/bg_rightnav_h2_staff.png);
}
div#rightcol ul,
div#rightcol p,
div#rightcol form,
div#rightcol div.includeForm {
  border-left: 1px solid #034B89;
  border-right: 1px solid #034B89;
}
div#rightcol ul {
  padding: 0.7em 10px 0.5em 10px;
}
div#rightcol p,
div#rightcol form {
  padding: 0.5em 10px;
}
div#rightcol ul li {
  padding-bottom: 0.4em;
  padding-left: 10px;
  background: url(../images/default/bg_disc.png) no-repeat 0 0.5em;
  border-bottom: 1px solid #fff;
}
div#rightcol ul li a {
  background: url(../images/default/bg_list_arrow.gif) no-repeat 0 0.3em;
  padding-left: 10px;
  display: block;
  margin: 0 0 0 -10px;
}
div#rightcol ul#viewingOptions li.selected {
  background: none !important;
  font-weight: bold;
}
div#rightcol p.statement {
  font-size: 90%;
}
/*** Page tools ***/
div#rightcol ul.pagetools li {
  padding-bottom: 0.2em;
}
/*** Organisation viewer ***/
div#rightcol div#organisation ul {
  font-size: 80%;
}
div#rightcol div#organisation ul ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
  border: none;
}
div#rightcol div#organisation ul li {
  padding: 3px 0 0 0;
  background: url(../images/default/bg_people3.gif) no-repeat 0px 3px;
  border-top: 3px solid #fff;
}
div#rightcol div#organisation ul li p {
  padding: 2px 5px 2px 40px;
  border: none;
  min-height: 15px;
  margin-bottom: 7px;
}
div#rightcol div#organisation ul li p.active {
  background: url(../images/default/bg_people_highlight.png) no-repeat;
  background-position: 35px 0;
}
div#rightcol div#organisation ul li a {
  display: block;
  text-decoration: underline;
}
div#rightcol div#organisation ul li a:hover {
  text-decoration: none;
}
div#rightcol div#organisation ul li.selected {
  background: url(../images/default/bg_people_down.gif) no-repeat 8px 3px;
  border: none;
}
div#rightcol div#organisation ul li.selected p {
  padding-left: 75px;
  background-position: 70px 0;
}
div#rightcol div#organisation ul li.last {
  background: url(../images/default/bg_people_down_last.gif) no-repeat bottom left;
  padding-bottom: 0;
}
div#rightcol div#organisation ul li.last p {
  margin-bottom: 0;
}
/*** Icon links ***/
div#rightcol li a.standard {
  margin: 0;
}
div#rightcol li a.email,
div#rightcol li a.downloadable,
div#rightcol li a.feedback,
div#rightcol li a.global,
div#rightcol li a.print,
div#rightcol li a.bookmark,
div#rightcol li a.rss,
div#rightcol li a.people,
div#rightcol li a.person {
  padding-left: 25px;
  display: block;
}
/*** RSS links ***/
div#rightcol ul.rss li {
  background: none;
}
div#rightcol ul.rss li a {
  padding: 0 5px;
  margin-right: 5px;
  font-weight: bold;
  display: block;
  background: none;
}
div#rightcol ul.rss li.rss_icon {
  border: none;
  width: 25px;
}
div#rightcol ul.rss li.rss_icon a {
  background: url(../../bg_rss_icon.gif) no-repeat top left !important;
  overflow: hidden;
  height: 15px;
  width: 20px;
  padding-top: 15px;
}
/* Flood warning alert panel right pane only */
div#rightcol div.warning {
  position: relative;
  right: 0;
  top: 0px;
  border-bottom: 0;
  font-size: 1em;
  width: 151px;
  z-index: 10;
  text-align: left;
  color: #2E3C16;
  margin-right: 0;
  margin-top: 0px;
  border-bottom: 0;
  margin-bottom: 10px;
  clear: both;
}
div#rightcol div.warning div.r,
div#rightcol div.warning div.l,
div#rightcol div.warning div.b {
  height: 100%;
}
div#rightcol div.warning div.b {
  background: transparent url(../../bg_warning_b4.gif) no-repeat scroll 0pt 100%;
  padding-bottom: 15px;
}
div#rightcol div.warning div.tr {
  width: 64px;
}
* > div#rightcol div.warning div.tr {
  width: 77px;
}
div#rightcol div.warning div.middle {
  padding-bottom: 10px;
}
* > div#rightcol div.warning div.middle {
  padding-bottom: 0;
}
div#rightcol div.warning h2 {
  padding-top: 0;
  background: none;
  width: 100%;
  padding-left: 3px;
  padding-bottom: 0;
}
div#rightcol p.arrowlink {
  border: 0;
  padding-top: 0;
}
/*** Override styles for specific links ***/
div#rightcol form {
  padding: 10px;
}
div#rightcol form fieldset {
  position: relative;
}
div#rightcol form label {
  display: block;
  margin-bottom: 0.5em;
}
div#rightcol form input.text {
  width: 90px;
}
div#rightcol form input.go {
  position: absolute;
  bottom: 2px;
  right: 0;
  margin: 0;
}
/*** Form include styles ***/
div#rightcol div.box div div.includeForm {
  float: none;
  width: 135px;
  padding: 0 7px;
  background: none;
  display: block;
}
div#rightcol div.box div div.includeForm div,
div#rightcol div.box div div.includeForm p {
  border: none;
  background: none;
}
div#rightcol div.includeForm div input,
div#rightcol div.includeForm span input,
div#rightcol div.includeForm div select,
div#rightcol div.includeForm span select,
div#rightcol div.includeForm div textarea,
div#rightcol div.includeForm span textarea,
div#rightcol div.includeForm div label,
div#rightcol div.includeForm span label,
div#rightcol div.includeForm div.buttons,
div#rightcol div.includeForm span.buttons {
  width: 131px;
  clear: both;
}
div#rightcol div.includeForm div,
div#rightcol div.includeForm span {
  padding: 0;
}
div#rightcol div.includeForm p,
div#rightcol div.includeForm p {
  width: auto;
  margin: 0 0 0.31em 0;
  padding: 0;
}
div#rightcol div.includeForm div label,
div#rightcol div.includeForm span label {
  float: none;
}
div#rightcol div.includeForm div.buttons input,
div#rightcol div.includeForm span.buttons input,
div#rightcol div.includeForm div label input,
div#rightcol div.includeForm span label input {
  width: auto;
}
div#rightcol div.includeForm div label.labelCheckbox,
div#rightcol div.includeForm div label.labelRadio,
div#rightcol div.includeForm span label.labelCheckbox,
div#rightcol div.includeForm span label.labelRadio {
  margin-left: 0;
}
