div#featurebox {
  position: relative;
  margin: 15px 0px;
  width: 100%;
  overflow: hidden;
}
div#featureinfo {
  position: absolute;
  width: 22.5%;
  background: #ffffff;
  height: 100%;
  top: 0px;
  left: 0px;
}
div#featureimg {
  width: 77.5%;
  float: right;
  max-height: 480px;
  overflow: hidden;
}
